@import './reset.css';
@import './base.css';

a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
}
.accent {
  color: var(--color-text-accent);
}
.hidden {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 1px;
  height: 1px;
  visibility: hidden;
}
.accentGradient {
  background-image: linear-gradient(135deg, #41d392, #54b2bd, #6287f3);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
