@import './reset.css';
@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

a,
.green {
  text-decoration: none;
  color: #00bd7e;
  transition: 0.4s;
}
.hidden {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 1px;
  height: 1px;
  visibility: hidden;
}
.accent {
  background-image: linear-gradient(135deg, #41d392, #54b2bd, #6287f3);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
